.pagePosition{
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5;
    margin-top: 5px;
    background-color: white;
    border-radius: 2.5%;
}

.cartTitle{
    width: 100%;
    font-size: x-large;
    text-align: center;
}

.itensPosition{
    width: 100%;
    margin-top: 3vh;
}

.dataBox{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.productImage{
    width: 9vw;
    height: 9vw;
}

.infoDisplay{
    margin-left: 1vw;
    height: 9vw;
    max-width: 27vw;
    display: flex;
    flex-direction: column;
}

.productName{
    text-align: center;
    font-size: large;
    margin-top: 3vh;
    margin-bottom: 4.5vh;
}

.productQuantity{
    text-align: left;
    font-size: medium;
}

.pricePosition{
    margin-left: auto;
    margin-right: 3vw;
    margin-top: 8vh;
    font-size: large;
    color: green;
}

.deleteButton{
    background-color: rgb(141, 10, 10);
    color: white;
}

.deleteButtonPosition{
    text-align: center;
    margin-top: 1vh;
}