.pageTitle{
    font-size: x-large;
    margin-top: 10px;
    margin-left: 1vw
}

.pagePostion{
    width: 65%;
    margin-left: 17.50%;
    margin-right: 17.50%;
    margin-top: 5px;
    background-color: whitesmoke;
    border-radius: 1.5%;
}

.productsPosition{
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
}