<br>
<div class="pagePosition" [class.mat-elevation-z4]="true">
    <br>
    <div class="cartTitle">
        <span>Meu carrinho de compras</span>
    </div>
    <br>
    <div *ngFor="let product of products; let i = index" class="itensPosition">
        <div class="dataBox">
            <img class="productImage" src="{{product.picture}}">
            
            <div class="infoDisplay">
                <div class="productName">
                    <span>{{product.name}}</span>
                </div>

                <div class="productQuantity">
                    <span>{{product.stock}} Unidades</span>
                </div>
            </div>

            <div class="pricePosition">
                <div class="unityValue">
                    <span>Valor Unitário: R$ {{product.price}}</span>
                </div>

                <div class="deleteButtonPosition">
                    <button mat-flat-button (click) = "deleteProduct(i)" class="deleteButton">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
